@{
    ViewData["Title"] = "Expense Page";
}

<div class="text-center">
    <h1 class="display-4">Expense</h1>
    <br />

    <a class="btn btn-outline-dark" asp-action="OverView">Over View</a>
    <a class="btn btn-outline-primary" asp-action="CreateOrEditExpense">Create Expense</a>
</div>
